.form {
    display:  flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    height: 400px;
    width: 400px;
}

.show-password  {
    right: 8px;
    position: absolute;
    top: 5px;
}

.relative {
    position: relative;
}